/*Globale variabler*/
$text-color: #0D0D0D;
$cta-color: #D13E1A;
$lysgron: #EEEEEA;
$morkgron: #5A5930;
$brodfont: 'Droid Sans', sans-serif;
$overskrift-font: 'Sansita', sans-serif;


/*Mixins*/

@mixin btn($btn-padding: 0.8em 1.2em){ 
    background-color: $cta-color;
    padding: $btn-padding;
    border-radius: 20px 0 20px 0;
    color: #fff;
    text-decoration: none;
    text-align: center;

    &:hover{
        background-color: #fff;
        border: 3px solid $cta-color;
        color: #D13E1A;
    }
 }

 @mixin gronkasse{
    grid-column: 1 / 2;
    border: 2px solid $morkgron;
    border-radius: 20px;
    width: 85%;
    position: relative;
    height: 580px;
    padding: 1em 3em;
    margin-bottom: 15em;
    
        img{
            position: absolute;
            top: 25em;
            left: 10em;
        }
 }

@mixin overvejelser-flex{
    display: flex;
    gap: 5em;
    margin: 5em 0;

    article{
        align-self: center;
    }

    img{
        width: 50%;
        align-self: flex-end;
    }
}