@use 'partial';

/*Global styling*/
*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    color: partial.$text-color;
}

body{
    display: grid;
    grid-template-columns: 1fr 45% 45% 1fr;
}

main{
    grid-column: 2 /4;
}

h1{
    font-family: partial.$overskrift-font;
    font-size: 60px;
    font-weight: 400;
    padding-bottom: 50px;
}

h2{
    font-family: partial.$overskrift-font;
    font-size: 48px;
    font-weight: 400;
    padding-bottom: 50px;
}

p, a{
    font-family: partial.$brodfont;
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 32px;
}

p{
    padding-bottom: 17px;
}

.p-til-btn{
    margin-bottom: 2em;
}

.red{
    color: partial.$cta-color;
}

img{
    width: 100%;
}

.btn{
    @include partial.btn;
}

/*Navigation*/

header{
    grid-column: 2 / 4;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul{
        display: flex;
        list-style: none;

        li a{
            text-decoration: none;
            color: black;
            margin-right: 2em;

            &:hover{
                border-bottom: 3px solid partial.$cta-color;
            }
        }
    }

    img:nth-of-type(1){
        width: 100%;
        height: auto;
    }

}

#sog{
   width: 20%;
}

/*Hero-området*/

.hero-style{
    display: flex;
    gap: 8em;

        h1{
            padding-top: 75px;
        }
}

/*Under hero område*/

.struktur-forside{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 8em;
}

.gron{
    @include partial.gronkasse;
}

.btn-forside{
   @include partial.btn ($btn-padding: 0.8em 3em); 
}
